<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="full_page.css">
</head>
<body >
    <div class="container">
        <div class="header">
            <div class="header__left">
                <span>Scrum Cards</span>
            </div>
            <div class="headr__right">
                <button class="btn">
                    <span class="btn__span btn__span--header">Light</span>
                </button>
                <button class="btn">
                    <span class="btn__span btn__span--header">Marcin J</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.66699 5.33329L7.84794 10.6666L13.3337 5.33329" stroke="currentColor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="content__wrapper">
            <div class="table__controls">
<!--                <span>Pick your cards!</span>-->
<!--                <button class="btn">-->
<!--                    <span class="btn__span btn__span&#45;&#45;controls">Start new voting</span>-->
<!--                </button>-->
                <button class="btn">
                    <span class="btn__span btn__span--controls">Reveal cards</span>
                </button>
            </div>
           <div class="table__wrapper">
               <div class="table__card__wrapper">
                    <div class="table__card table__card--selected">
                        <span></span>
                    </div>
                   <span class="client-name">Marcin J</span>
               </div>
               <div class="table__card__wrapper">
                   <div class="table__card">
                       <span>2</span>
                   </div>
                   <span class="client-name">tom</span>
               </div>
               <div class="table__card__wrapper">
                   <div class="table__card table__card--picking">
                       <span></span>
                   </div>
                   <span class="client-name">Zbyniu P.</span>
               </div>
           </div>
        </div>
        <div class="footer__wrapper">
            <span>Choose your card:</span>
            <div class="card__picker">
                <div class="card">
                    <span>0</span>
                </div>
                <div class="card">
                    <span>1</span>
                </div>
                <div class="card">
                    <span>2</span>
                </div>
                <div class="card">
                    <span>3</span>
                </div>
                <div class="card">
                    <span>5</span>
                </div>
                <div class="card">
                    <span>8</span>
                </div>
                <div class="card">
                    <span>13</span>
                </div>
                <div class="card card--selected">
                    <span>21</span>
                </div>
                <div class="card">
                    <span>34</span>
                </div>
                <div class="card">
                    <span>55</span>
                </div>
                <div class="card">
                    <span>89</span>
                </div>
                <div class="card">
                    <span>?</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>