.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    flex-shrink: 0;
}

.header .btn {
    display: flex;
    align-items: center;
    max-height: 3.8rem;
}

.btn__span--header {
    max-width: 8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header__left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
    font-size: 2.25rem;
}

.headr__right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
}
/*url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M21.4,13.7C20.6,13.9,19.8,14,19,14c-5,0-9-4-9-9c0-0.8,0.1-1.6,0.3-2.4c0.1-0.3,0-0.7-0.3-1 c-0.3-0.3-0.6-0.4-1-0.3C4.3,2.7,1,7.1,1,12c0,6.1,4.9,11,11,11c4.9,0,9.3-3.3,10.6-8.1c0.1-0.3,0-0.7-0.3-1 C22.1,13.7,21.7,13.6,21.4,13.7z"/></svg>') 0 0/contain no-repeat;*/
/*}*/
/*<path fill="currentColor" d="M21.4,13.7C20.6,13.9,19.8,14,19,14c-5,0-9-4-9-9c0-0.8,0.1-1.6,0.3-2.4c0.1-0.3,0-0.7-0.3-1 c-0.3-0.3-0.6-0.4-1-0.3C4.3,2.7,1,7.1,1,12c0,6.1,4.9,11,11,11c4.9,0,9.3-3.3,10.6-8.1c0.1-0.3,0-0.7-0.3-1 C22.1,13.7,21.7,13.6,21.4,13.7z" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>*/